.footer {
  background-image: url(/src/images/background/footer-background.png);
  position: sticky;
  bottom: 0;
  z-index: -1;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 200px;

  @include onTablet {
    height: 480px;
  }

  @include onDesktop {
    height: 555px;
  }
}

