.top-bar {
  padding-block: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include onTablet {
    padding-block: 36px;
  }

  &__icons {
    display: flex;
    gap: 24px;
  }

  &__logo {
    width: 130px;
    height: 38px;
    @include hover(transform, scale(1.05));

    @include onTablet {
      width: 187px;
      height: 56px;
    }
  }

  &__logo-link {
    display: flex;
  }

  &__phone-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__phone-number {
    position: absolute;
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }
}
